<!-- MathJax for LaTeX rendering -->
{% if page.mathjax %}
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
    processEscapes: true
  },
  output: {
    font: 'mathjax-stix2',
    displayOverflow: 'linebreak'
  }
};
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@4.1.3/tex-chtml-nofont.js" integrity="sha384-PnV2v1hB0n9/0Qxm9Z4Rn2xDmXbHONnV47DvSnmK6WaOiuNvRhZg6F6+LflhiqDw" crossorigin="anonymous"></script>
{% endif %}
